# Python
__pycache__/
*.py[cod]
*.class
venv/
ENV/

# Django
db.sqlite3
media/
static_root/

# IDEs
.vscode/
.idea/
.DS_Store
apps/api/ejercicios_completos-lengua-castellana/tails-amd64-7.8.1.img
apps/api/ejercicios_completos-lengua-castellana/*.img
apps/api/ejercicios_completos-lengua-castellana/*.img
